
<ng-template #Map>
  <div class='card'>
    <img src="assets/images/chart.jpg" style="height: 100%; width: 100%; align-content: stretch">
  </div>
</ng-template>

<ng-template #Date>
  <div class='card'>
    <img src="assets/images/date.jpg" style="height: 100%; width: 100%; align-content: stretch">
  </div>
</ng-template>
<ng-template #AverageResponse>
  <div class='card'>
    <img src="assets/images/response.jpg" style="height: 100%; width: 100%; align-content: stretch">
  </div>
</ng-template>

<ng-template #TotalResponse>
  <div class='card'>
    <img src="assets/images/email.jpg" style="align-content: stretch">
  </div>
</ng-template>
<ng-template #TotalRequest>
  <div class='card'>
    <img src="assets/images/date.jpg" style="height: 100%; width: 100%; align-content: stretch">
  </div>
</ng-template>
<ng-template #Health>
  <div class='card'>
    <img src="assets/images/request.jpg" style="align-content: stretch">

  </div>
</ng-template>

<ng-template #TotalError>
  <div class='card'>
    <p>
      I am a Error Card.
    </p>
  </div>
</ng-template>